<div class="signup-container">

    
    
    <form>

    <h5 class="parrafo">Fecha de nacimiento</h5>
    <mat-card class="card">
      
            <mat-form-field class="example-full-width">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Elegir fecha de nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
                  
        

        </mat-card>

        <button mat-flat-button class="btn" >Siguiente</button>
    </form>
    

</div>