<!-- <div class="container"> -->

<app-nav-bar>


  <div class="generar-pdf-container">


    <form class="formulario">

      <div class="full-width nombre-inputs">
        <mat-form-field class="half-width">
          <input matInput placeholder="Nombre">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput placeholder="Apellido">
        </mat-form-field>
      </div>


      <p class="full-width">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Observaciones"></textarea>
        </mat-form-field>
      </p>

      <button mat-flat-button class="btn-ingresar" >Ingresar</button>

    </form>

  </div>

</app-nav-bar>
<!-- </div> -->
