<!-- <div class="container"> -->

<app-nav-bar>


  <div class="generar-pdf-container">


    <mat-form-field class="full-width">

      <mat-select #seleccion placeholder="Tipo de Persona" (focus)="log()" [(value)]="opcion">
        <mat-option value="opcion1">Persona Juridica</mat-option>
        <mat-option value="opcion2">Persona Natural</mat-option>
      </mat-select>

    </mat-form-field>



    <!-- Persona de tipo Juridica -->

    <app-demanda-juridica class="full-width" *ngIf="seleccion.value == 'opcion1'"></app-demanda-juridica>

    <!-- persona de tipo Natural -->

    <app-demanda-natural class="full-width" *ngIf="seleccion.value == 'opcion2'"></app-demanda-natural>


  </div>

</app-nav-bar>
<!-- </div> -->
