<div class="signup-container">

    
    
    <form>

    <h5 class="parrafo">Correo y contraseña</h5>
    <mat-card class="card">
      

        <mat-form-field class="inputs full-width">
            <input matInput placeholder="Correo:* " >
        </mat-form-field>
        
        
        <mat-form-field class="inputs full-width">
            <input matInput placeholder="Contraseña:* " >
                
        </mat-form-field>

        <mat-form-field class="inputs full-width">
            <input matInput placeholder="Confirmación contraseña:* " >
                
        </mat-form-field>



        </mat-card>

        <button mat-flat-button class="btn" >Siguiente</button>
    </form>
    

</div>